
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgrey;
  font-size: 20px;

}
a {
  color: #00B7FF;
}
.header{
  color: white;
  text-align: center;
  background-image: url(https://www.etherealbeauty.com/media/0c/51/c9/1628862650/pinselset2.jpg);
  background-size: cover;
  background-position:center;
  border-radius: 5px;
  width: 100%;
  height: 20vh;
  font-size:4rem;
  margin-top:10px;
}
input{
  width: 96vw;
  padding:20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  border: none;
  
}
input:hover{
  background-color: rgb(240, 233, 233);
}
ul{
  list-style: none;


}
li{
  background-color: white;
  padding: 5px;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.detail{
 display: flex;
}
.image{
  margin-top:17px;
  margin-bottom:1.5rem ;
  margin-left: 1.5rem;
}